<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hans.mapper.UserMapper">

    <select id="selectUserAndRoleById" resultType="SysUser">
        select
          u.*,
          r.id 'role.id', r.role_name 'role.role_name', r.enabled 'role.enabled', r.create_by 'role.create_by', r.create_time 'role.create_time'
        from  sys_user u
        inner join sys_user_role ur on u.id = ur.user_id
        inner join sys_role r on ur.role_id = r.id
        where u.id = #{id}
        and r.id = 1
    </select>

    <select id="selectUserAndRoleById2" resultMap="userRoleMap">
        select
        u.*,
        r.id role_id, r.role_name role_role_name, r.enabled role_enabled, r.create_by role_create_by, r.create_time role_create_time
        from sys_user u
        join sys_user_role ur on u.id = ur.user_id
        join sys_role r on ur.role_id = r.id
        where u.id = #{id}
        and r.id = 1
    </select>

    <resultMap id="userMap" type="SysUser">
        <id property="id" column="id"/>
        <result column="user_name" property="userName"/>
        <result column="user_email" property="userEmail"/>
        <result column="user_info" property="userInfo"/>
        <result column="head_img" property="headImg"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <resultMap id="userRoleMap" type="SysUser" extends="cn.hans.generator.dao.SysUserMapper.ResultMapWithBLOBs">
        <!--role相关属性-->
        <!--<result column="role_id" property="role.id"/>-->
        <!--<result column="role_role_name" property="role.roleName"/>-->
        <!--<result column="role_enabled" property="role.enabled"/>-->
        <!--<result column="role_create_by" property="role.createBy"/>-->
        <!--<result column="role_create_time" property="role.createTime"/>-->
            <!--关联嵌套结果映射-->
            <!--
                association 标签使用关联的嵌套结果映射时常见属性：
                    property: 属性名称
                    javaType: 属性类型
                    resultMap: 使用已有的resultMap来映射结果列到属性值，配置该属性后javaType可不用配置且子标签id、result将失效
                    columnPrefix: 列前缀，配置后将为子标签id、result的column属性值添加该前缀后再去sql结果列中获取值
            -->
        <association property="role" javaType="SysRole" columnPrefix="role_" resultMap="cn.hans.mapper.RoleMapper.roleMap"/>
    </resultMap>

    <resultMap id="userRoleMapSelect" type="SysUser" extends="userMap">
        <!--关联嵌套查询映射-->
        <!--
            association标签使用关联的嵌套查询映射时常见属性：
                property：属性名称
                select：查询语句id
                column：关联嵌套查询条件
                fetchType：数据加载方式，可选值为lazy和eager，分别为延迟加载和积极加载。该属性值会覆盖全局的lazyLoadingEnabled配置
        -->
        <association property="role" select="cn.hans.mapper.RoleMapper.selectRoleById" column="{roleId=role_id}" fetchType="lazy"/>
    </resultMap>

    <select id="selectUserByIdAndSelectRole" resultMap="cn.hans.mapper.UserMapper.userRoleMapSelect">
        select id, user_name, user_email, user_info, head_img, create_time, ur.role_id
        from sys_user u
        left join sys_user_role ur on u.id = ur.user_id
        where id = #{id} and ur.role_id = 1
    </select>

</mapper>