<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="LOG4J"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <!--为一个类配置别名-->
        <typeAlias type="java.lang.String" alias="str"/>
        <!--再使用cn.hans.model包下的类时，输入全限定名时可不必输入包名-->
        <package name="cn.hans.model"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC">
                <property name="" value=""/>
            </transactionManager>
            <dataSource type="UNPOOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/mybatis"/>
                <property name="username" value="root"/>
                <property name="password" value="123456"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <!--注册mapper接口-->
        <!--<mapper resource="cn/hans/mapper/UserMapper.xml"/>-->
        <!--
            通过包名配置mapper映射文件
            MaBatis首先扫描此包下面的接口
            将接口文件的全限定名称转换成路径
            根据接口全限定名称转换成为的路径以.xml为后缀名称搜索mapper映射文件
        -->
        <package name="cn.hans.mapper"/>
    </mappers>
</configuration>